[Unit]
Description=Eclair lightning network node
After=network.target
After=bitcoin@%i.service
Requires=bitcoin@%i.service

[Service]
ExecStart=/usr/bin/eclair-node \
			-Declair.datadir=/var/lib/eclair-%i \
			-Declair.printToConsole

User=eclair-%i

[Install]
WantedBy=multi-user.target
